@import 'tailwindcss';

/* Custom styles for optimal rendering */
@layer base {
  :root {
    overscroll-behavior: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}
